@import '../../style/mixins';

.tracker {
    margin: 0 auto;
    text-align: center;

        &__box {
            padding: 24px;
            background-color: #baaf68d4;
            border-radius: 10px;
            box-shadow: 0 8px 40px rgba(0, 0, 0, 0.05);
            max-width: 450px;
            margin: 0 auto;
            max-width: 402px;
        }

    h2 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    h3 {
        text-align: center;
        border-radius: 8px;
        color: #fbf1e4;
        text-transform: capitalize;
        font-size: 25px;
        margin-bottom: 10px;
    }

    h4 {
        text-align: center;
    }

    &__profile {
        margin: 0 auto;
        max-width: 325px;
        box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
        background-color: #75ae8c;
        padding: 15px;
        border-radius: 10px;

        p {
            color: #fbf1e4;
            font-size: 20px;
        }

        span {
            color: #e4f8ae;
            font-size: 21px;
        }
    }

    &__meals {
        margin-top: 20px;
        padding: 15px;
        // background-color: #75ae8c;

        form {
            border-radius: 10px;
            box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
            background-color: #75ae8c;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include input(12px 14px);
        }
    }

    &__meals-list {
        margin-top: 20px;
        background-color: #75ae8c;
        border-radius: 10px;
        box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
        padding: 10px;
    }

    &__meals-list-item {
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fbf1e4;
        
        p {
            font-size: 1.3rem;
            color: #e4f8ae;
        }

        @include input(5px 10px);
    }

        &__meals-list-item:last-child {
        border-bottom: none;
    }

    &__meals-text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--edit-mode {
            // margin: 0 auto;
            
            button {
                position: relative;
                left: 46%;
                bottom: 45px;
                transition: transform 0.2s ease;
            } button:hover {
                transform: scale(1.5);
            }
        }
    }

    &__meals-btns-box {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        button {
            transition: transform 0.2s ease;
        }
    }

    &__meals-btns-box button:hover {
        transform: scale(1.5);
    }

    &__meals-summary {
        margin-top: 20px;
        font-size: 1.3rem;
    }
}