
.user-form {
    padding: 16px;
    background-color: #baaf68d4;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.05);
    max-width: 450px;
    margin: 0 auto;

    &__form {
        border-radius: 10px;
        box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
        background-color: #75ae8c;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__result-block {
        margin: 20px 5px 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #e4f8ae;
        box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
        padding: 7px;
        border-radius: 8px;
    }

    &__result {
        color: #028135;
        font-size: 23px;
    }

        &__target-calories-box {
            box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
            background-color: #75ae8c;
            border-radius: 10px;
            margin-top: 20px;
            padding: 20px;
            text-align: center;
        }

        &__target-calories-title {
            color: #016554;
            font-size: 1.5rem;
            margin: 10px 0 20px;
        }

        &__btns-box {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        &__target-calories-result {
            box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.31);
            margin: 20px 5px 5px;
            background-color: #e4f8ae;
            border-radius: 8px;
            padding: 7px;
            color: #016554;
            font-size: 1.3rem;
        }

    &__select-gender,
        select,
        input[type=number] {
            padding: 12px 14px;
            font-size: 1rem;
            border: 1px solid #016554;
            border-radius: 8px;
            background-color: #fbf1e4;
            color: #243b1e;
            transition: border-color 0.3s;
            text-align: center;

            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        &:focus {
            outline: none;
            border-color: #77b967;
            box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.2);
        }
    }

    // Desktop styles
    @media (min-width: 768px) {
        padding: 24px;

        &__form {
            gap: 20px;
        }

        &__select-gender,
        select,
        input {
            font-size: 1.1rem;
        }

        button {
            font-size: 1.1rem;
        }
    }
}
